body {
  background: whitesmoke;
}

.Todo-container {
  max-width: 300px;
  padding: .5em;
  margin: 2em auto;
}

.Todo-title {
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  color: tomato;
  opacity: .6;
}

.Todo-box {
  background: white;
  box-shadow: 0 0 2px -1px rgba(0,0,0,.4), 0 20px 40px -10px rgba(0,0,0,0.2);
}
